.join {
	.sub_visual {
		background-image: url(../img/jointop.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 350px;
		transition: 0.5s;
	}
	.inner {
		h1 {
			margin-left: 100px;
		}
		#member {
			display: flex;
			justify-content: center;
			align-content: center;
			table {
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				//margin: 0 200px;
				margin-bottom: 50px;
				margin-top: 50px;
				text-align: left;
				tr {
					width: 500px;
					th,
					td {
						border-bottom: 1px solid #ddd;
						padding: 15px 25px;
					}
				}

				th {
					width: 15%;

					input[type='submit'],
					input[type='reset'] {
						width: 100%;
						height: 60px;
						margin: 10px;

						font: bold 18px/40px 'arial';
						color: #fff;
						background: #000;
						cursor: pointer;
					}
				}
				td {
					width: 800px;
					border-left: 1px solid #fff;
					input[type='text'],
					input[type='password'],
					select {
						width: 100%;
						background: rgba(0, 0, 0, 0.03);
						padding: 10px;
						border: 1px solid #fff;
					}
					input[type='radio'],
					input[type='checkbox'] {
						margin-right: 30px;
					}

					textarea {
						resize: none;
						width: 100%;
						height: 150px;
						padding: 10px;
						background: rgba(0, 0, 0, 0.03);
						border: 1px solid #000;
					}
					p {
						font: 11px/1 '맑은 고딕';
						color: red;
						margin-top: 5px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	.join {
		.sub_visual {
			background-position: center center;
			height: 200px;
		}
		.inner {
			#member {
				table {
					th {
						input[type='submit'],
						input[type='reset'] {
							width: 100%;
						}
					}
					td {
						input[type='text'],
						input[type='password'] {
							width: 100%;
						}
						input[type='radio'],
						input[type='checkbox'] {
							margin-right: 5px;
						}
						select#company {
							width: 30%;
						}
						textarea#comments {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 539px) {
	.join {
		.inner {
			table {
				th {
					&:last-child {
						margin: 0 5%;
					}
				}
				td {
					input[type='text'],
					input[type='password'] {
						width: 100%;
					}

					select#company {
						width: 100%;
						margin-top: 10px;
					}
					textarea#comments {
						width: 100%;
					}
				}
			}
		}
	}
}
